#app{
  display:flex;
}

#menuView{
  width:25%;
}

#menuView {
  list-style-type: none;
  color: #777;
}

#menuView li {
  font-size: 1.5em;
  padding-bottom: 15px;
}

#catView{
  width:75%;
}

#catView img{
  max-height: 350px;
}
